<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="Allure PHPUnit Example Tests">
            <directory>src/Yandex/Allure/Adapter/Example/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src/Yandex/Allure/Adapter/Example/</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Yandex\Allure\Adapter\AllureAdapter" file="../src/Yandex/Allure/Adapter/AllureAdapter.php">
            <arguments>
                <string>allure-report-data</string> <!-- Output directory -->
                <boolean>true</boolean> <!-- Whether to delete previous results on rerun -->
            </arguments>
        </listener>
    </listeners>
</phpunit>